In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("make_model_date.csv")
df.head()

,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,...,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,States,Year,Month.Abbr,Day.Name.Abbr,Weekend
0,1982-01-01,"PULLMAN, WA",United States,Non-Fatal,Substantial,Airplane,cessna,140,No,1.0,...,0.0,2.0,VMC,Takeoff,Probable Cause,WA,1982,Jan,Fri,False
1,1982-01-01,"EAST HANOVER, NJ",United States,Non-Fatal,Substantial,Airplane,cessna,401B,No,2.0,...,0.0,2.0,IMC,Landing,Probable Cause,NJ,1982,Jan,Fri,False
2,1982-01-01,"JACKSONVILLE, FL",United States,Non-Fatal,Substantial,NaN,north american,NAVION L-17B,No,1.0,...,3.0,0.0,IMC,Cruise,Probable Cause,FL,1982,Jan,Fri,False
3,1982-01-01,"HOBBS, NM",United States,Non-Fatal,Substantial,NaN,piper,PA-28-161,No,1.0,...,0.0,1.0,VMC,Approach,Probable Cause,NM,1982,Jan,Fri,False
4,1982-01-01,"TUSKEGEE, AL",United States,Non-Fatal,Substantial,NaN,beech,V35B,No,1.0,...,0.0,1.0,VMC,Landing,Probable Cause,AL,1982,Jan,Fri,False

In [3]:
df.columns

Index(['Event.Date', 'Location', 'Country', 'Injury.Severity',
       'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'States', 'Year',
       'Month.Abbr', 'Day.Name.Abbr', 'Weekend'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82241 entries, 0 to 82240
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Date              82241 non-null  object
 1   Location                82230 non-null  object
 2   Country                 82241 non-null  object
 3   Injury.Severity         82133 non-null  object
 4   Aircraft.damage         80262 non-null  object
 5   Aircraft.Category       28154 non-null  object
 6   Make                    82220 non-null  object
 7   Model                   82203 non-null  object
 8   Amateur.Built           82220 non-null  object
 9   Number.of.Engines       80367 non-null  float64
 10  Engine.Type             79219 non-null  object
 11  Purpose.of.flight       79813 non-null  object
 12  Total.Fatal.Injuries    71588 non-null  float64
 13  Total.Serious.Injuries  70869 non-null  float64
 14  Total.Minor.Injuries    71514 non-null  float64
 15  Total.Uninjured         77237 non-null  float64
 16  Weather.Condition       81596 non-null  object
 17  Broad.phase.of.flight   61153 non-null  object
 18  Report.Status           79628 non-null  object
 19  States                  82167 non-null  object
 20  Year                    82241 non-null  int64
 21  Month.Abbr              82241 non-null  object
 22  Day.Name.Abbr           82241 non-null  object
 23  Weekend                 82241 non-null  bool
dtypes: bool(1), float64(5), int64(1), object(17)
memory usage: 14.5+ MB

In [68]:
df['Model'] = df['Model'].str.replace('-', '')

In [69]:
df['Model'] = df['Model'].str.lower()

In [70]:
# POŁĄCZENIE marek
df['Make'] = df['Make'].replace(r'^robinson.*', 'robinson', regex=True)
df['Make'] = df['Make'].replace(r'^air tractor.*', 'air tractor', regex=True)
df['Make'] = df['Make'].replace(r'^douglas.*', 'mcdonnell douglas', regex=True)
df['Make'] = df['Make'].replace(r'^grumman.*', 'grumman', regex=True)
df['Make'] = df['Make'].replace(r'^champion.*', 'champion', regex=True)
df['Make'] = df['Make'].replace(r'^schweizer.*', 'schweizer', regex=True)
df['Make'] = df['Make'].replace(r'^boeing.*', 'boeing', regex=True)
df['Make'] = df['Make'].replace(r'^ ayres.*', ' ayres', regex=True)
df['Make'] = df['Make'].replace(r'^eurocopter.*', 'eurocopter', regex=True)
df['Make'] = df['Make'].replace(r'^bombardier.*', 'bombardier', regex=True)
df['Make'] = df['Make'].replace(r'^cirrus.*', 'cirrus', regex=True)
df['Make'] = df['Make'].replace(r'^ben.*', 'bensen', regex=True)
df['Make'] = df['Make'].replace(r'^legend.*', 'american legend ', regex=True)
df['Make'] = df['Make'].replace(r'^piper.*', 'piper', regex=True)
df['Make'] = df['Make'].replace(r'^bell.*', 'bell', regex=True)
df['Make'] = df['Make'].replace(r'^raytheon.*', 'raytheon', regex=True)
df['Make'] = df['Make'].replace(r'^rockwell.*', 'rockwell', regex=True)
df['Make'] = df['Make'].replace(r'^havilland.*', 'de havilland', regex=True)

In [71]:
df['Total.Fatal.Injuries'] = df['Total.Fatal.Injuries'].fillna(0.0)
df['Total.Serious.Injuries'] = df['Total.Serious.Injuries'].fillna(0.0)
df['Total.Minor.Injuries'] = df['Total.Minor.Injuries'].fillna(0.0)
df['Total.Uninjured'] = df['Total.Uninjured'].fillna(0.0)

In [72]:
#remove all rows from column 'Broad.phase.of.flight' that have 'cessna' name in column 'Make'
df = df[~((df['Make'] == 'piper') & df['Broad.phase.of.flight'].isna())]
df = df[~((df['Make'] == 'cessna') & df['Broad.phase.of.flight'].isna())]

In [73]:
update_info = {
    ('cessna', ('120', '140', '150', '152', '162', '188', '305')): 'cessna_small',
    ('cessna', ('l19', '170', '172', '177', '175', '180', '182', '205', '206', '210', '185', '152', '404', '421', '207', '208', '310', '340', '337', '402', '195', '414', '441', '401', '550', '425', 
               '303', '320', '335', '336', '500', '510', '551', '560', '411', '190', '525', '560', '501', '650', '680')): 'cessna_medium',
    ('piper', ('11', '15', '17', '36', '18', '19', '21', '38', '108', 'j', '25')): 'piper_small',
    ('piper', ('14', '16', '60', '20', '22', '28', '30', '39', '42', '44', '23', '34', '24', '32', '46', '12', '31')): 'piper_medium',
    ('mooney', ('20', '2o', '22')): 'mooney_medium',
    ('mooney', ('10', '18', '2a')): 'mooney_small',
    ('boeing', ('707','717', '727', '737', '747', '757', '767', '777', '787')): 'boeing_large',
    ('boeing', ('a75', 'b75', 'e75', 'd75', 'pt13', 'pt17')): 'boeing_small',
    ('grumman', ('164', 'aa1', 'aa 1')): 'grumman_small',
    ('grumman', ('aa5', 'aa 5', '7', '15', '44', 'tb', '21', '73')): 'grumman_medium',
    ('bellanca', ('c',)): 'bellanca_small',
    ('bellanca', ('17', '14', 'bl')): 'bellanca_medium',
    ('robinson', ('r44', 'r22', '22', 's12')): 'robinson_small',
    ('robinson', ('r66',)): 'robinson_medium',
    ('schweizer', ('269', '164', '12', '13', '23', '26', '22', '32', '34')): 'schweizer_small',
    ('schweizer', ('300',)): 'schweizer_medium',
    ('aeronca', ('7', '11', '58', '65', 'c3')): 'aeronca_small',
    ('aeronca', ('15',)): 'aeronca_medium',
    ('mcdonnell douglas', ('dc', '88', '82', '10', '11', '54', '80', '83', '90', '81')): 'douglas_large',
    ('mcdonnell douglas', ('600', '369', '500')): 'douglas_medium',
    ('stinson', ('108', '77', '10', '19', 'sr', '180', '181')): 'stinson_medium',
    ('stinson', ('l5', 'l 5')): 'stinson_small',
    ('aero commander', ('a9', 's2')): 'aero_small',
    ('aero commander', ('100', '112', '114', '200', '400', '500', '520', '560', '68', '69')): 'aero_medium',
    ('taylorcraft', ('bc', 'dc', 'l2', 'bl', 'bf', '21', '19')): 'taylorcraft_small',
    ('taylorcraft', ('20', '18')): 'taylorcraft_medium',
    ('de havilland', ('dhc8', 'dhc7')): 'de havilland_large',
    ('de havilland', ('dhc2', 'dhc3', 'dhc6')): 'de havilland_medium',
    ('north american', ('t6', 't 6', 'snj', '51', '28')): 'namerican_small',
    ('north american', ('navion', 'na', 'b25')): 'namerican_medium',
    ('aerospatiale', ('atr',)): 'aerospatiale_large',
    ('aerospatiale', ('sa', 'as', 'tb', '350', '316', '355', '300')): 'aerospatiale_medium',
    ('rockwell', ('s2', 'a9')): 'rockwell_small',
    ('rockwell', ('100', '112', '114', '680', '690', '500', '265')): 'rockwell_medium',
    ('luscombe', ('11',)): 'luscombe_medium',
    ('luscombe', ('8',)): 'luscombe_small',
    ('vans', ('10',)): 'vans_medium',
    ('vans', ('4', '6', '7', '12', '9', '14', '3')): 'vans_small',
    ('bombardier', ('dhc',)): 'bombardier_large',
    ('bombardier', ('600', '840', '100', '35')): 'bombardier_medium',
}

def update_model(row):
    make = row['Make']
    model = str(row['Model'])
    
    for condition, info in update_info.items():
        if make == condition[0] and any(x in model for x in condition[1]):
            return info
    
    return model

df['Model.Capacity'] = df.apply(update_model, axis=1)

In [74]:
#
df.loc[df['Make'] == 'beech', 'Model.Capacity'] = 'beech_medium'
df.loc[df['Make'] == 'bell', 'Model.Capacity'] = 'bell_medium'
df.loc[df['Make'] == 'hughes', 'Model.Capacity'] = 'hughes_medium'
df.loc[df['Make'] == 'air tractor', 'Model.Capacity'] = 'air_tractor_small'
df.loc[df['Make'] == 'maule', 'Model.Capacity'] = 'maule_medium'
df.loc[df['Make'] == 'champion', 'Model.Capacity'] = 'champion_small'
df.loc[df['Make'] == 'hiller', 'Model.Capacity'] = 'hiller_medium'
df.loc[df['Make'] == 'enstrom', 'Model.Capacity'] = 'enstrom_medium'
df.loc[df['Make'] == 'ayres', 'Model.Capacity'] = 'ayres_small'
df.loc[df['Make'] == 'corp', 'Model.Capacity'] = 'corp_medium'
df.loc[df['Make'] == 'eurocopter', 'Model.Capacity'] = 'eurocopter_medium'
df.loc[df['Make'] == 'cirrus', 'Model.Capacity'] = 'cirrus_medium'
df.loc[df['Make'] == 'sikorsky', 'Model.Capacity'] = 'sikorsky_medium'
df.loc[df['Make'] == 'airbus', 'Model.Capacity'] = 'airbus_large'

In [75]:
df.loc[df['Make'] == 'cessna', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'piper', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'beech', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'bell', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'robinson', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'hughes', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'boeing', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'mooney', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'grumman', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'air tractor', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'maule', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'champion', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'stinson', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'luscombe', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'aero commander', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'taylorcraft', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'rockwell', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'hiller', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'eurocopter', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'cirrus design corp', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'aeronca', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'de havilland', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'north american', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'enstrom', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'ayres', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'sikorsky', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'vans', 'Aircraft.Category'] = 'Airplane'

In [76]:
conditions_airplane = (df['Make'] == 'mcdonnell douglas') & (df['Model'].str.contains(r'(dc|88|82|10|11|54|80|83|90|81)'))
conditions_helicopter = (df['Make'] == 'mcdonnell douglas') & (df['Model'].str.contains(r'(600|369|500)'))

df.loc[conditions_airplane, 'Aircraft.Category'] = df.loc[conditions_airplane, 'Aircraft.Category'].fillna('Airplane')
df.loc[conditions_helicopter, 'Aircraft.Category'] = df.loc[conditions_helicopter, 'Aircraft.Category'].fillna('Helicopter')

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_9574/2113484367.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  conditions_airplane = (df['Make'] == 'mcdonnell douglas') & (df['Model'].str.contains(r'(dc|88|82|10|11|54|80|83|90|81)'))
/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_9574/2113484367.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  conditions_helicopter = (df['Make'] == 'mcdonnell douglas') & (df['Model'].str.contains(r'(600|369|500)'))

In [77]:
conditions_airplane = (df['Make'] == 'schweizer') & (df['Model'].str.contains(r'164'))
conditions_glider = (df['Make'] == 'schweizer') & (df['Model'].str.contains(r'sg'))
conditions_helicopter = (df['Make'] == 'schweizer') & (df['Model'].str.contains(r'(269|300)'))

df.loc[conditions_airplane, 'Aircraft.Category'] = df.loc[conditions_airplane, 'Aircraft.Category'].fillna('Airplane')
df.loc[conditions_helicopter, 'Aircraft.Category'] = df.loc[conditions_helicopter, 'Aircraft.Category'].fillna('Helicopter')

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_9574/2271210749.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  conditions_helicopter = (df['Make'] == 'schweizer') & (df['Model'].str.contains(r'(269|300)'))

In [80]:
df['Aircraft.Category'].value_counts()

Airplane      54570
Helicopter     7548
Name: Aircraft.Category, dtype: int64

In [84]:
df['Aircraft.damage'].value_counts()

Substantial    46554
Destroyed      12709
Minor           1577
Name: Aircraft.damage, dtype: int64

In [82]:
df = df.drop(df[df['Aircraft.damage'] == 'Unknown'].index)

In [87]:
df['Number.of.Engines'].value_counts()

1.0    52797
2.0     7899
3.0      377
4.0      279
8.0        1
6.0        1
Name: Number.of.Engines, dtype: int64

In [86]:
df = df.drop(df[df['Number.of.Engines'] == 0.0].index)

In [91]:
df['Purpose.of.flight'].value_counts()

Personal                     35038
Instructional                 8206
Unknown                       4523
Aerial Application            4175
Business                      3286
Positioning                   1232
Other Work Use                 921
Ferry                          593
Aerial Observation             534
Public Aircraft                525
Executive/corporate            379
Flight Test                    265
External Load                  105
Skydiving                       87
Air Race                        79
Public Aircraft - Federal       76
Public Aircraft - Local         66
Public Aircraft - State         46
Banner Tow                      40
Firefighting                    26
Name: Purpose.of.flight, dtype: int64

In [94]:
df['Engine.Type'].value_counts()

reciprocating    53307
turbo shaft       2902
turbo prop        2316
turbo fan         1621
turbo jet          443
Name: Engine.Type, dtype: int64

In [93]:
df = df.drop(df[df['Engine.Type'].isin(['unknown', 'electric'])].index)

In [97]:
df['Weather.Condition'].value_counts()

VMC    56267
IMC     4740
Name: Weather.Condition, dtype: int64

In [96]:
df = df.drop(df[df['Weather.Condition'] == 'UNK'].index)

In [63]:
df['Broad.phase.of.flight'].value_counts()

Landing        13231
Takeoff         9912
Cruise          8256
Maneuvering     6268
Approach        5117
Taxi            1678
Climb           1578
Descent         1479
Go-around       1218
Standing         762
Unknown          420
Name: Broad.phase.of.flight, dtype: int64

In [89]:
df['Purpose.of.flight'] = df['Purpose.of.flight'].replace(r'^Air Race.*', 'Air Race', regex=True)

In [90]:
df = df.drop(df[df['Purpose.of.flight'].isin(['PUBL', 'PUBS', 'ASHO', 'Air Drop', 'Glider Tow'])].index)

In [98]:
# stworzenie kolumny capacity

df['Capacity'] = np.where(df['Model.Capacity'].str.contains('small', case=False), 'small',
                          np.where(df['Model.Capacity'].str.contains('medium', case=False), 'medium',
                                   np.where(df['Model.Capacity'].str.contains('large', case=False), 'large', np.nan)))

In [99]:
df['Capacity'].value_counts()

medium    34082
small     18444
nan        7154
large      1719
Name: Capacity, dtype: int64

In [79]:
df = df[df['Aircraft.Category'].isin(['Airplane', 'Helicopter'])]

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61399 entries, 0 to 82238
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Date              61399 non-null  object
 1   Location                61391 non-null  object
 2   Country                 61399 non-null  object
 3   Injury.Severity         61334 non-null  object
 4   Aircraft.damage         60203 non-null  object
 5   Aircraft.Category       61399 non-null  object
 6   Make                    61392 non-null  object
 7   Model                   61378 non-null  object
 8   Amateur.Built           61385 non-null  object
 9   Number.of.Engines       60751 non-null  float64
 10  Engine.Type             60055 non-null  object
 11  Purpose.of.flight       59634 non-null  object
 12  Total.Fatal.Injuries    61399 non-null  float64
 13  Total.Serious.Injuries  61399 non-null  float64
 14  Total.Minor.Injuries    61399 non-null  float64
 15  Total.Uninjured         61399 non-null  float64
 16  Weather.Condition       61007 non-null  object
 17  Broad.phase.of.flight   49919 non-null  object
 18  Report.Status           59930 non-null  object
 19  States                  61354 non-null  object
 20  Year                    61399 non-null  int64
 21  Month.Abbr              61399 non-null  object
 22  Day.Name.Abbr           61399 non-null  object
 23  Weekend                 61399 non-null  bool
 24  Model.Capacity          61399 non-null  object
 25  Capacity                61399 non-null  object
dtypes: bool(1), float64(5), int64(1), object(19)
memory usage: 12.2+ MB

In [101]:
df.to_csv('data_for_aviation_model.csv', index=False)