### 1. Zadanie

Otrzymaliśmy dane w następującej postaci: "{dzień tygodnia};{cztery znaki zawierające wskazanie czujnika}" (zawsze są to 4 znaki!). Napisz skrypt, który wygeneruje raport z konkretnego dnia na prośbę użytkownika:

- Podaj dzień dla którego ma zostać wyliczony raport (wielkość liter nie powinna mieć znaczenia,; dzień mozna wybierać dowolnie)
- Pobierz odpowiednią wartość z danych
- Przelicz wskazanie czujnika na temperaturę dzieląc przez wartość z tabeli
- Wypisz temperaturę z dokładnością do trzeciego miejsca po przecinku (tak jak na przykładzie) i ze znakiem specjalnym ℃ (\u2103)
- BONUS. Do punktu 1 dodaj walidację - upewnij się, że użytkownik podał jeden z dni który możemy znaleźć w danych
- BONUS. Do punktu 4 dodaj wizualizację temperatury w zakresie 0 do 100 stopni na pasku złożonym z 20 znaków (np. dla 50 stopni, zapełnione jest 10/20 znaków)

In [1]:
data = """
monday;1250
tuesday;1405
wednesday;1750
thursday;1100
friday;0800
saturday;1225
sunday;1355
"""

In [2]:
# stworzenie słownika
slownik = {}
for line in data.strip().split('\n'):
    dzien, wartosc = line.split(';')
    slownik[dzien] = int(wartosc)

In [3]:
print(slownik)

{'monday': 1250, 'tuesday': 1405, 'wednesday': 1750, 'thursday': 1100, 'friday': 800, 'saturday': 1225, 'sunday': 1355}

In [4]:
# pobranie od użytkownika dnia tygodnia
dzien = input("Podaj dzień tygodnia: ").lower()

if dzien in slownik:
    wartosc = slownik[dzien]
    print(f"Wartość dla dnia {dzien} to {wartosc}")

Podaj dzień tygodnia: monday
Wartość dla dnia monday to 1250

In [5]:
wskazanie = int(input("Wprowadź wskazanie czujnika: "))

if wskazanie >= 1400:
    wynik = wskazanie / 22.5
elif wskazanie >= 1200:
    wynik = wskazanie / 23.1
else:
    wynik = wskazanie / 23.5

print("Temperatura: ", wynik)

Wprowadź wskazanie czujnika: 1250
Temperatura:  54.11255411255411

In [6]:
wskazanie = int(input("Wprowadź wskazanie czujnika: "))

if wskazanie >= 1400:
    wynik = wskazanie / 22.5
elif wskazanie >= 1200:
    wynik = wskazanie / 23.1
else:
    wynik = wskazanie / 23.5

print("Temperatura: {:.3f}℃".format(wynik))

Wprowadź wskazanie czujnika: 1250
Temperatura: 54.113℃

In [ ]:
# bonus
while True:
    dzien = input("Podaj dzień tygodnia: ").lower()
    if dzien in slownik:  
        wartosc = slownik[dzien]
        print(f"Wartość dla dnia {dzien} to {wartosc}")
        break  
    else:
        print("Podałeś niepoprawny dzień tygodnia. Spróbuj ponownie.")

Podaj dzień tygodnia: monnday
Podałeś niepoprawny dzień tygodnia. Spróbuj ponownie.

Przykładowe wyjście:

Dane dla "thursday"

Wskazanie czujnika: 1100

Temperatura: 46.809℃

0℃ |#########-----------| 100℃  # BONUS

## Zadanie 2.
 
Sklep internetowy (use case) Wyobraź sobie, że jesteś właścicielem sklepu internetowego, oraz magazynu, który przechowuje Twoje produkty. Zdefiniuj jakie produkty chcesz sprzedawać. Zastanów się jak możesz skorzystać z poznanych metod programowania obiektowego w swoim biznesie. Przemyśl jakie cechy charakteryzują Twoje obiekty i jakie metody mogą być dla Ciebie użyteczne.

1. Rozważ funkcje produktów - nie zapomnij też o cenie, czy ilości na stanie
2. rozważ funkcję zakupu/sprzedaży produktu (zarobek i zmiana na stanie) 
3. Dodaj klika produktów
4. Zademonstruj działanie funkcji

In [27]:
class Zabawka:
    def __init__(self, nazwa, marka, cena, ilosc_na_stanie):
        self.nazwa = nazwa
        self.marka = marka
        self.cena = cena
        self.ilosc_na_stanie = ilosc_na_stanie

    def get_nazwa(self):
        return self.nazwa

    def get_marka(self):
        return self.marka
    
    def get_cena(self):
        return f"Produkt kosztuje {self.cena} zł"

    def get_ilosc(self):
        return f"Stan magazynowy: {self.ilosc_na_stanie} sztuk"
    
    def oblicz_rabat(self, procent):
        rabat = self.cena * procent / 100
        nowa_cena = self.cena - rabat
        print(f"Produkt: {self.nazwa}")
        print(f"Stara cena: {self.cena} zł")
        print(f"Rabat: {procent}%")
        print(f"Nowa cena: {nowa_cena} zł")
    
    def kup_produkt(self, ilosc):
            self.ilosc_na_stanie += ilosc
            return f"Zakupiłeś {ilosc} sztuk produktu {self.nazwa}. Zapłaciłeś {ilosc*self.cena} zł. Stan magazynowy: {self.ilosc_na_stanie} sztuk."
            
    def sprzedaj_produkt(self, ilosc):
        if ilosc > self.ilosc_na_stanie:
            print("Brak wystarczającej ilości produktów na stanie")
        else:
            self.ilosc_na_stanie -= ilosc
            return f"Sprzedałeś {ilosc} sztuk produktu {self.nazwa}. Zarobiłeś {round((ilosc*self.cena)*0.7, 2)} zł. Stan magazynowy: {self.ilosc_na_stanie} sztuk."

In [28]:
Lego = Zabawka("Klocki", "Lego", 100, 10)
Playmobil = Zabawka("Klocki", "Playmobil", 50, 20)
HotWheels = Zabawka("Samochód na zdalne sterowanie", "Hot Wheels", 200, 5)
Barbie = Zabawka("Lalka", "Barbie", 90, 15)
Trefl = Zabawka("Puzle", "Trefl", 25, 120)
RainbowHigh = Zabawka("Lalka", "Rainbow High", 130, 20)

In [29]:
Lego.sprzedaj_produkt(5)

'Sprzedałeś 5 sztuk produktu Klocki. Zarobiłeś 350.0 zł. Stan magazynowy: 5 sztuk.'

In [30]:
class Klocki(Zabawka):
    def __init__(self, nazwa, marka, cena, ilosc_na_stanie, grupa_wiekowa):
        super().__init__(nazwa, marka, cena, ilosc_na_stanie)
        self.grupa_wiekowa = grupa_wiekowa

    def wyswietl_dane(self):
        print(f"Produkt: {self.nazwa}")
        print(f"Opis: {self.marka}")
        print(f"Cena: {self.cena} zł")
        print(f"Ilość na stanie: {self.ilosc_na_stanie}")
        print(f"Grupa wiekowa: {self.grupa_wiekowa}")
        
class Puzle(Zabawka):
    def __init__(self, nazwa, marka, cena, ilosc_na_stanie, ilosc_elementow):
        super().__init__(nazwa, marka, cena, ilosc_na_stanie)
        self.ilosc_elementow = ilosc_elementow
        
    def wyswietl_dane(self):
        print(f"Produkt: {self.nazwa}")
        print(f"Opis: {self.marka}")
        print(f"Cena: {self.cena} zł")
        print(f"Ilość na stanie: {self.ilosc_na_stanie}")
        print(f"Ilość elementów: {self.ilosc_elementow}")

class Lalka(Zabawka):
    def __init__(self, nazwa, marka, cena, ilosc_na_stanie, rodzaj):
        super().__init__(nazwa, marka, cena, ilosc_na_stanie)
        self.rodzaj = rodzaj
        
    def wyswietl_dane(self):
        print(f"Produkt: {self.nazwa}")
        print(f"Opis: {self.marka}")
        print(f"Cena: {self.cena} zł")
        print(f"Ilość na stanie: {self.ilosc_na_stanie}")
        print(f"Rodzaj: {self.rodzaj}")

        
class Samochod(Zabawka):
    def __init__(self, nazwa, marka, cena, ilosc_na_stanie, rodzaj):
        super().__init__(nazwa, marka, cena, ilosc_na_stanie)
        self.rodzaj = rodzaj
        
    def wyswietl_dane(self):
        print(f"Produkt: {self.nazwa}")
        print(f"Opis: {self.marka}")
        print(f"Cena: {self.cena} zł")
        print(f"Ilość na stanie: {self.ilosc_na_stanie}")
        print(f"Rodzaj: {self.rodzaj}")

In [31]:
Lego = Klocki("Klocki", "Lego", 100, 10, "6+")
Playmobil = Klocki("Klocki", "Playmobil", 50, 20, "8+")
HotWheels = Samochod("Samochód na zdalne sterowanie", "Hot Wheels", 200, 5, "Na baterie")
Barbie = Lalka("Lalka", "Barbie", 90, 15, "Księżniczka")
Trefl = Puzle("Puzle", "Trefl", 25, 120, "100")
RainbowHigh = Lalka("Lalka", "Rainbow High", 130, 20, "Celebrytka")

In [32]:
Lego.wyswietl_dane()

Produkt: Klocki
Opis: Lego
Cena: 100 zł
Ilość na stanie: 10
Grupa wiekowa: 6+

In [34]:
Lego.get_ilosc()

'Stan magazynowy: 15 sztuk'

###Zadanie 3.

Pobierz zbiór danych o zawodnikach NBA: https://www.kaggle.com/justinas/nba-players-data
Otwórz go za pomocą Pandas i odpowiedz na pytania:
1. Czy jest jakikolwiek zawodnik spoza USA, który przed NBA uczęszczał do college'u Kentucky?
2. Ile wynosi średni wzrost zawodnika w calach? Czy od pierwszego sezonu w tym zbiorze do teraz powiększył się czy zmniejszył?
3. Kto w badanym okresie rzucił łącznie najwięcej punktów?
4. W której rundzie draftu największy udział procentowy mieli zawodnicy ważący więcej niż 100 kg?

In [35]:
import pandas as pd

dataset = pd.read_csv('all_seasons.csv')

In [36]:
dataset

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300,12300,Markieff Morris,MIA,32.0,205.74,111.130040,Kansas,USA,2011,1,...,7.6,2.6,1.4,4.5,0.059,0.089,0.197,0.547,0.116,2021-22
12301,12301,Markelle Fultz,ORL,24.0,193.04,94.800728,Washington,USA,2017,1,...,10.8,2.7,5.5,-5.3,0.010,0.116,0.265,0.517,0.448,2021-22
12302,12302,Marcus Smart,BOS,28.0,193.04,99.790240,Oklahoma State,USA,2014,1,...,12.1,3.8,5.9,9.3,0.018,0.093,0.179,0.540,0.245,2021-22
12303,12303,Marcus Garrett,MIA,23.0,195.58,92.986360,Kansas,USA,Undrafted,Undrafted,...,1.1,1.9,0.6,5.8,0.072,0.108,0.086,0.280,0.069,2021-22
12304,12304,Micah Potter,DET,24.0,208.28,112.490816,Wisconsin,USA,Undrafted,Undrafted,...,4.0,3.0,0.0,-56.4,0.095,0.125,0.148,0.505,0.000,2021-22

In [18]:
list(dataset.columns)

['Unnamed: 0',
 'player_name',
 'team_abbreviation',
 'age',
 'player_height',
 'player_weight',
 'college',
 'country',
 'draft_year',
 'draft_round',
 'draft_number',
 'gp',
 'pts',
 'reb',
 'ast',
 'net_rating',
 'oreb_pct',
 'dreb_pct',
 'usg_pct',
 'ts_pct',
 'ast_pct',
 'season']

In [ ]:
#Czy jest jakikolwiek zawodnik spoza USA, który przed NBA uczęszczał do college'u Kentucky?

In [37]:
college_kentucky = dataset[(dataset['college'] == 'Kentucky') & (dataset['country'] != 'USA')]
print (college_kentucky[['player_name', 'country', 'college']])

                   player_name      country   college
1910           Jamaal Magloire       Canada  Kentucky
2529           Jamaal Magloire       Canada  Kentucky
2799           Jamaal Magloire       Canada  Kentucky
3416           Jamaal Magloire       Canada  Kentucky
3803           Jamaal Magloire       Canada  Kentucky
4074           Jamaal Magloire       Canada  Kentucky
4438           Jamaal Magloire       Canada  Kentucky
4485          Kelenna Azubuike      England  Kentucky
4940           Jamaal Magloire       Canada  Kentucky
5204          Kelenna Azubuike      England  Kentucky
5366           Jamaal Magloire       Canada  Kentucky
5573          Kelenna Azubuike      England  Kentucky
6087          Kelenna Azubuike      England  Kentucky
6162           Jamaal Magloire       Canada  Kentucky
6656           Jamaal Magloire       Canada  Kentucky
6696           Jamaal Magloire       Canada  Kentucky
6826               Enes Kanter       Turkey  Kentucky
7089          Kelenna Azubuike      England  Kentucky
7398               Enes Kanter       Turkey  Kentucky
8023               Enes Kanter       Turkey  Kentucky
8222               Enes Kanter       Turkey  Kentucky
8838               Enes Kanter       Turkey  Kentucky
9187           Skal Labissiere        Haiti  Kentucky
9500              Jamal Murray       Canada  Kentucky
9516               Enes Kanter       Turkey  Kentucky
9711              Jamal Murray       Canada  Kentucky
9939           Skal Labissiere        Haiti  Kentucky
10144          Skal Labissiere        Haiti  Kentucky
10150  Shai Gilgeous-Alexander       Canada  Kentucky
10313          Isaac Humphries    Australia  Kentucky
10570             Jamal Murray       Canada  Kentucky
10677            Mychal Mulder       Canada  Kentucky
10767               Trey Lyles       Canada  Kentucky
10813           Wenyen Gabriel  South Sudan  Kentucky
10874          Skal Labissiere        Haiti  Kentucky
10879  Shai Gilgeous-Alexander       Canada  Kentucky
11043             Jamal Murray       Canada  Kentucky
11210            Mychal Mulder       Canada  Kentucky
11353           Wenyen Gabriel  South Sudan  Kentucky
11371               Trey Lyles       Canada  Kentucky
11414            Nick Richards      Jamaica  Kentucky
11443  Shai Gilgeous-Alexander       Canada  Kentucky
11615             Jamal Murray       Canada  Kentucky
12033  Shai Gilgeous-Alexander       Canada  Kentucky
12120           Wenyen Gabriel  South Sudan  Kentucky
12133               Trey Lyles       Canada  Kentucky
12153             Olivier Sarr       France  Kentucky
12231            Mychal Mulder       Canada  Kentucky
12257            Nick Richards      Jamaica  Kentucky

In [13]:
df_kentucky.shape

(49, 22)

In [38]:
#Ile wynosi średni wzrost zawodnika w calach?

In [36]:
dataset['wzrost_cale'] = dataset['player_height'] * 0.3937
sredni_wzrost = dataset['wzrost_cale'].mean()
print("Średni wzrost zawodnika w calach: {:.2f}".format(sredni_wzrost))

Średni wzrost zawodnika w calach: 78.98

In [19]:
dataset.groupby('season')['player_height'].mean()

season
1996-97    200.994830
1997-98    200.619499
1998-99    200.903007
1999-00    200.920959
2000-01    200.752154
2001-02    201.017909
2002-03    201.520514
2003-04    201.315113
2004-05    201.245733
2005-06    200.920655
2006-07    200.704367
2007-08    200.851486
2008-09    201.196539
2009-10    200.873394
2010-11    201.217832
2011-12    200.832343
2012-13    200.769765
2013-14    200.772946
2014-15    200.838455
2015-16    200.949034
2016-17    200.916790
2017-18    200.457741
2018-19    200.535396
2019-20    198.941059
2020-21    198.914926
2021-22    198.350909
Name: player_height, dtype: float64

In [23]:
sredni_wzrost_sezony = dataset.groupby('season')['player_height'].mean()

In [24]:
sredni_wzrost_sezony

season
1996-97    200.994830
1997-98    200.619499
1998-99    200.903007
1999-00    200.920959
2000-01    200.752154
2001-02    201.017909
2002-03    201.520514
2003-04    201.315113
2004-05    201.245733
2005-06    200.920655
2006-07    200.704367
2007-08    200.851486
2008-09    201.196539
2009-10    200.873394
2010-11    201.217832
2011-12    200.832343
2012-13    200.769765
2013-14    200.772946
2014-15    200.838455
2015-16    200.949034
2016-17    200.916790
2017-18    200.457741
2018-19    200.535396
2019-20    198.941059
2020-21    198.914926
2021-22    198.350909
Name: player_height, dtype: float64

In [20]:
lista_sezony = dataset["season"].unique()

In [21]:
print(lista_sezony)

['1996-97' '1997-98' '1998-99' '1999-00' '2000-01' '2001-02' '2002-03'
 '2003-04' '2004-05' '2005-06' '2006-07' '2007-08' '2008-09' '2009-10'
 '2010-11' '2011-12' '2012-13' '2013-14' '2014-15' '2015-16' '2016-17'
 '2017-18' '2018-19' '2019-20' '2020-21' '2021-22']

In [ ]:
#Czy od pierwszego sezonu w tym zbiorze do teraz powiększył się czy zmniejszył?

In [27]:
sredni_wzrost_1996_97 = dataset[dataset['season'] == '1996-97']['player_height'].mean()
sredni_wzrost_2021_22 = dataset[dataset['season'] == '2021-22']['player_height'].mean()

if sredni_wzrost_1996_97 < sredni_wzrost_2021_22:
    print("Średni wzrost od pierwszego sezonu do teraz powiększył się.")
elif sredni_wzrost_1996_97 > sredni_wzrost_2021_22:
    print("Średni wzrost od pierwszego sezonu do teraz zmniejszył się.")
else:
    print("Średni wzrost od pierwszego sezonu do teraz nie zmienił się.")

Średni wzrost od pierwszego sezonu do teraz zmniejszył się.

In [ ]:
#Kto w badanym okresie rzucił łącznie najwięcej punktów?

In [35]:
pogrupowany_dataset = dataset.groupby(['player_name', 'season'])['pts'].sum()
print(pogrupowany_dataset)

player_name         season
A.C. Green          1996-97     7.2
                    1997-98     7.3
                    1998-99     4.9
                    1999-00     5.0
                    2000-01     4.5
                               ...
Zydrunas Ilgauskas  2008-09    12.9
                    2009-10     7.4
                    2010-11     5.0
Zylan Cheatham      2019-20     3.0
                    2021-22     0.0
Name: pts, Length: 12301, dtype: float64

In [33]:
# gracza, który rzucił najwięcej punktów
max_pts_player = pogrupowany_dataset.idxmax()

print("Gracz, który rzucił najwięcej punktów w badanym okresie to:", max_pts_player[0], "w sezonie", max_pts_player[1])

Gracz, który rzucił najwięcej punktów w badanym okresie to: James Harden w sezonie 2018-19

In [ ]:
#W której rundzie draftu największy udział procentowy mieli zawodnicy ważący więcej niż 100 kg?

In [34]:

# tworzymy kolumnę z wartością True jeśli zawodnik waży więcej niż 100 kg, a False w przeciwnym wypadku
dataset['powyżej_100kg'] = dataset['player_weight'] > 100

# grupujemy po rundzie draftu i obliczamy procent zawodników ważących więcej niż 100 kg w każdej rundzie
draft_round_pct = dataset.groupby('draft_round')['powyżej_100kg'].mean() * 100

# identyfikujemy rundę draftu z największym udziałem procentowym zawodników ważących więcej niż 100 kg
max_pct_round = draft_round_pct.idxmax()

print("Największy udział procentowy zawodników ważących więcej niż 100 kg był w rundzie draftu nr:", max_pct_round)

Największy udział procentowy zawodników ważących więcej niż 100 kg był w rundzie draftu nr: 4